.all {
  width: 95%;
  font-family: "Poppins, Arial, Helvetica, sans-serif";
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.div1 {
  display: flex;
  justify-content: space-between;
}

.div2 {
  display: flex;
  justify-content: space-between;
  margin-top: 4%;
  color: #afa0cd;
}

.h3 {
  font-size: 27px;
}

.h4 {
  font-size: 23px;
  margin-bottom: 10%;
  transition: border-bottom 0.5s ease-out;
}

.h5 {
  font-size: 23px;
  color: #0d164e;
}

.p {
  font-size: 18px;
}

.boton1 {
  font-size: 23px;
  padding: 15px 50px 15px 71px;
  border: none;
  color: #356174;
  font-weight: bold;
  text-decoration: none;
  background-color: white;
}
.boton2 {
  font-size: 23px;
  padding: 15px 50px 15px 140px;
  border: none;
  color: #356174;
  font-weight: bold;
  background-color: white;
}

.boton1:hover {
  border-radius: 50px;
  background-color: #ff1a88;
}
.boton2:hover {
  border-radius: 50px;
  background-color: #ff1a88;
}

.imagen {
  margin-bottom: 5%;
  scale: 1.1;
}

.iconos {
  display: flex;
  scale: 1.3;
}
.icono1 {
  margin-right: 60%;
  color: #356174;
}

.icono {
  color: #356174;
}

.icono1:hover {
  color: #356174c9;
}
.icono:hover {
  color: #356174c9;
}

.h4:hover {
  color: #ff1a88; /* Cambia el color del texto cuando el usuario pasa el cursor */
  text-decoration: none; /* Elimina la línea de subrayado por defecto */
  padding-bottom: 3px; /* Añade un espacio entre el texto y la línea */
  /* Permite establecer un ancho a la línea */
  width: 230%; /* Especifica el ancho de la línea */
  border-bottom: 4px solid #ff1a88; /* Especifica el ancho y color de la línea */
}

.menus {
  color: #0d164e;
}
